<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>Hi <%= @stuff.email %>,</h3>
  <p>You have requested to reset your password. Click on the link below to reset it:</p>
  <p><%= edit_stuff_password_url(@stuff, reset_password_token: @token) %></p>
  <p>If you didn't request to reset your password, please ignore this email.</p>
</body>
</html>
